doctype html
html(style={height: '100%'})
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/main.css')

    title 인터페이스 클라이언트

body(style={height: '100%'})
  #app.flex.h100.font(style="background-color: #8DA9FF;flex-direction: column;")
    div.m-auto
      span.em10
        .
          연결불가
      a.em2.underline(href="/index").
        돌아가기
      p.em2= 'MQTT 서버 없음.'
      p.em2= '배치파일을 모두 종료 후 다시 여십시오.'

script.